%container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-left-padding;
  padding-right: $container-right-padding;
  width: $container-width;
}

%page-header-text {
  padding-top: $header-padding-top;
  padding-bottom: $header-padding-bottom;

  font-weight: $header-font-weight;
  font-size: $header-font-size;
  line-height: $header-line-height;
  letter-spacing: $header-letter-spacing;
}

%section {
  padding-bottom: 94px;
}
